h1 {
  margin: 0;
}

.mapDiv {
  height: 80vh;
}

.search-bar {
  display: flex;
  padding: 0 2rem;
  justify-content: center;
  flex-direction: column;
  height: 20vh;
}

.search-bar h1 {
  margin-bottom: 1rem;
}

.marker {
  background-image: url(https://i.imgur.com/oz3r3Wq.png);
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: 3px solid darkslategray;
}

.marker-delivery {
  background-color: red;
  width: 22px;
  height: 22px;
}